# --------- Cấm các địa chỉ IP truy cập vào tập tin .htaccess ---------------

#Deny from all

# --------- Cấm truy cập từ 1 địa chỉ IP cụ thể ---------------

# Deny from (IP) cụ thể

# --------- Cấm truy cập từ 1 dãi địa chỉ IP ---------------

# Deny from 192.168.1

# --------- Cho phép tất cả các địa chỉ IP truy cập ---------------

#Allow from all

# --------- Cho phép tất cả các địa chỉ IP truy cập ngoại trừ ---------------

#Allow from all

#Deny from 192.168.1.3

# --------- Cho phép dãi IP truy cập ngoại trừ ---------------

#Allow from 192.168.1

#Deny from 192.168.1.3

# --------- Order deny,  allow  ---------------
#Order deny, allow

#Deny from 192.168.1.3

#Allow from 192.168.1.2

# --------- Order allow,  deny  ---------------
#Order allow, deny
#Allow from 192.168.1.2
#deny from 192.168.1.3


